* {box-sizing:border-box}
html{
	background-color: black;
	width: 100%;
	height: auto;
  overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
	color:white;
}
/*#constant{
  height: 70px;
  width: 100%;
  background-color: black;
  margin: 0;
  position: fixed;
  top:0;
  left:0;
  z-index: 3;
}
#navbar ul{
	padding: 0;
	list-style:none;
}
#navbar li{
	display: inline;
	padding: 13.5px;
}
#navbar a{
	text-decoration:none;
	font-size: 18px;
	color:white;
}
h1{
	color: white;
  font-family: 'Montserrat', sans-serif;
}
p{
  color: black;
}
#main{
  width:35%;
  float: left;
  padding-left:10px;
}
#navbar{
  width:55%;
  float:right;
  padding-top:15px;
  padding-right: 10px;

}*/
#ach_menu{
  background-color: grey;
  color:white;
  margin-top:6%;
  margin-bottom: 6%;
}
.ach_menu{
  font-size: 15px;
  border-bottom: 2px solid white;
  padding: 5px;
  padding-left: 10px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* my */
.ach1, .ach2, .ach3{
  background-color: white;
  width: 500px;
  height: 750px;
  padding-top: 50px;
}
body{
  background-color: black;
  margin-top: 50px;

}
.para, .para2{
  padding: 25px;
  font-size:20px;
  width: 50%;
  float:left;
  padding-left: 45px;
}
.image{
  float: right;
  padding-right: 40px;
  padding-top: 20px;
}
.image img{
  height:280px;
  width: 200px;
  border-radius: 50%;
  border:solid black 3px;
}
.ach_head{
  color:black;
  padding-left: 55px;
  font-size: 40px;
  margin: 0;
}
.boximg img{
  height: 250px;
  width: 350px;
  margin-left: 45px;
  margin-top: 15px;
  border:solid black 3px;
}

.boximg{
  height: 250px;
  width: 250px;
}
/* Slideshow container */
.slideshow-container2 {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides2 {
  display: none;
}

/* Next & previous buttons */
.previous, .nextpage {
  cursor: pointer;
  position: absolute;
  left: 4px;
  margin-top: -18px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.previous{
  top:0;
}
.nextpage {
  bottom: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a blackbackground color with a little bit see-through */
.previous:hover, .nextpage:hover {
  background-color:rgb(0,0,0,0.8);
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name:fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* my */

.ach-a, .ach-b, .ach-c {
  background-color: white;
  width: 700px;
  height: 870px;
}
.sem{
  padding: 25px;
  font-size:18px;
  width: 10%;
  float:left;
  background-color: coral;
  padding-left: 30px;
  height: 870px;
}
.imageb{
  float: right;
  width: 90%;
  padding-right: 40px;
  padding-top: 20px;
  background-color: #d0d0d0;
  padding-left: 50px;
  height:870px;
}
.imageb img{
  height:200px;
  width: 200px;
  border-radius: 50%;
  border: solid coral 2px;
}
.sem h1{
  font-family: 'Montserrat', sans-serif;
}
.img1,.img2,.img3,.img4,.img5,.img6{
  width: 30%;
  text-align: center;
}
.img2{
  position: absolute;
  top: 20px;
  left:400px;
}
.img3{
  position: absolute;
  top:20px;
  right:15px;
}
.img4{
  position: absolute;
  left: 400px;
}
.img5{
  position: absolute;
  top:580px;
  left:200px;
}
.img6{
  position: absolute;
  top:580px;
  right: 120px;
}
